*{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
}

body{
    background-color: hsl(217, 54%, 11%);
}


.container{
    background-color: hsl(216, 50%, 16%);
    max-width: 250px;
    height: 460px;
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

.container, img{
   border-radius: 10px;
}


.content{
    display: flex;
    align-items: center;
    
}

#p1{
    color: hsl(178, 100%, 50%);
    padding-left: 6px;
    
}


#img3{
    margin-left: 5rem;
    padding-right: 5px;
}


.content2{
    display: flex;
    align-items: center;
    
}

#img4{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    margin-right: 1rem;
}

